<%= form_with model: @event do |form| %>
    <div class="field">
        <%= form.label :title, "Title" %>
        <%= form.text_field :title %>
    </div>

    <div class="field">
        <%= form.label :location, "Location" %>
        <%= form.text_field :location %>
    </div>

    <div class="field">
        <%= form.label :description, "Description" %>
        <%= form.text_area :description %>
    </div>

    <div class="date_field">
        <%= form.label :date, "Date" %>
        <%= form.datetime_select :date %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>