<!DOCTYPE html>
<html>
  <head>
    <title>OdinPrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# <a href="https://www.flaticon.com/free-icons/time-and-date" title="time and date icons">Time and date icons created by Flat Icons Design - Flaticon</a> %>
    <%= favicon_link_tag asset_path("site_icon.png") %>
  </head>

  <body>
    <div id="header">
      <%= link_to "Home", root_path,  id: "home_nav", class: "nav" %>

      <% unless user_signed_in? %>
        <%= link_to "Sign in", new_user_session_path, id: "sign_in_nav", class: "nav" %>
        <%= link_to "Sign up", new_user_registration_path, id: "sign_up_nav", class: "nav" %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, id: "sign_out_nav", class: "nav", data: {turbo_method: :delete} %>
      <% end %>

      <%= link_to "New Event", new_event_path, id: "new_event_nav", class: "nav"%>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
