<!DOCTYPE html>
<html>
  <head>
    <title>OdinPrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="header">
      <%= link_to "Home", root_path %>
      <div id="user_auth_links">
        <% unless user_signed_in? %>
          <%= link_to "Sign in", new_user_session_path %>
          <%= link_to "Sign up", new_user_registration_path %>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %>
        <% end %>
      </div>
      <%= link_to "Users", users_path %>
      <%= link_to "New Event", new_event_path %>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
